#contenedor
{
    width: 600px;
    height: 2000px;
    margin: auto;
}

#caja1
{
    width: 100px;
    height: 100px;
    background-color: orange;
    position: absolute;
    top: 50px;
    left: 230px;
    border-radius: 50%;
    display: inline-block;
}
#caja1-1
{
    width: 80px;
    height: 80px;
    background-color: rgb(103, 79, 6);
    position: relative;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}
#caja2
{
    width: 100px;
    height: 100px;
    background-color: orange;
    position: absolute;
    top: 50px;
    left: 438px;
    border-radius: 50%;
    display: inline-block;
}
#caja2-1
{
    width: 80px;
    height: 80px;
    background-color: rgb(103, 79, 6);
    position: relative;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}
#caja3
{
    width: 200px;
    height: 200px;
    background-color: orange;
    position: absolute;
    left: 285px;
    border-radius: 50%;
    top: 100px;

}
#caja3-1
{
    width: 30px;
    height: 30px;
    background-color: black;
    position: relative;
    top: 50px;
    left: 50px;
    border-radius: 50%;
}
#caja3-2
{
    width: 30px;
    height: 30px;
    background-color: black;
    position: relative;
    top: 20px;
    left: 120px;
    border-radius: 50%;
}
#caja3-3
{
    width: 30px;
    height: 30px;
    background-color: rgb(103, 79, 6);
    position: relative;
    top: 30px;
    left: 85px;
    border-radius: 50%;
}
#caja4
{
    width: 400px;
    height: 400px;
    background-color: orange;
    position: absolute;
    left: 200px;
    border-radius: 50%;
    top: 290px;

}
#caja4-1
{
    width: 200px;
    height: 350px;
    background-color: rgb(103, 79, 6);
    position: relative;
    top: 30px;
    left: 100px;
    border-radius: 50%;
}
#caja5
{
    width: 200px;
    height: 100px;
    background-color: orange;
    position: absolute;
    top: 350px;
    left: 105px;
    border-radius: 50%;
   
}
#caja6
{
    width: 200px;
    height: 100px;
    background-color: orange;
    position: absolute;
    top: 350px;
    left: 500px;
    border-radius: 50%;
   
    
}
#caja7
{
    width: 300px;
    height: 200px;
    background-color: orange;
    position: absolute;
    top: 600px;
    left: 40px;
    border-radius: 50%;
    transform: rotate(-45deg);
   
}
#caja7-1
{
    width: 200px;
    height: 150px;
    background-color: rgb(103, 79, 6);
    position: relative;
    top: 30px;
    left: 50px;
    border-radius: 50%;
    transform: rotate(180deg);
}
#caja8
{
    width: 300px;
    height: 200px;
    background-color: orange;
    position: absolute;
    top: 600px;
    left: 480px;
    border-radius: 50%;
    transform: rotate(45deg);
    
}
#caja8-1
{
    width: 150px;
    height: 200px;
    background-color: rgb(103, 79, 6);
    position: relative;
    top: 5px;
    left: 70px;
    border-radius: 50%;
    transform: rotate(100deg);
}
